
*{
    font-family: 'Be Vietnam';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.disabled{
    display: none;
}
.color-turquoise{
    background-color: #3CDDF3;
}
.color-font{
    color: white;
}
.fondo-purpe{
    background:rgb(139, 72, 191, 0.3);
    align-items: center;
    gap: 1rem;
    border-radius: 1em 0 0 1em;
}
header{
    padding: 2rem 4rem;
}
header .img{
    gap: 10px;
    align-items: center;
}
header .cabecera{
    justify-content: space-between;
    align-items: center;
    /*margin: 5% 10%;*/
}
header h3{
    display: grid;
    place-items: center;    
}
.icono{
    font-size: 50px;
}
.nav-menu-item{    
    margin: 10px;
}
a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}
.btnSombra{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.container-life{
    justify-content: center;    
    flex-wrap: wrap;
    padding: 3rem;
    gap: 4rem;
}
.caja-imgPlayer img{
    width: 100%;
}

.caja-playerTitle{
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}
.caja-playerTitle .title{
    font-size: 50px;
    font-weight: 700;
    color: #232C50;
    line-height: 3.5rem;
}
.caja-playerTitle .details{
    font-size: 16.5px;
    font-weight: 500;
}

.btnContact{
    background-color: #8B48BF;
    color: white;
    border-radius: 1em;
    padding: 10px 20px;
}
.container-different{    
    flex-wrap: wrap;
    padding: 45px 20px;
    gap: 3rem;
}
.container-different h2{
    font-size: 36px;
    line-height: 3rem;
}
.container-different p{
    font-size: 16px;
    font-weight: 500;
}

.item-player p {
    color: #B9B9C1;
    margin:1.5rem 1rem;
}
.container-bestPlayer{
    flex-wrap: wrap;
    padding: 45px 90px;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
.container-bestPlayer h2{
    font-size: 36px;
    line-height: 3rem;
    text-align: center;
}

.container-differentDetails{
    flex-wrap: wrap;
    padding: 4rem 0 0 2rem;
}

.btnGo{
    background-color: #232C50;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 10px 2rem;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.d-flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.color-blue{
    color:  #242E53;
}

.color-blue-opaco{
    color:  #3F4868;
}
.best{
margin: 1rem 0;
flex-direction: column;
align-items: center;
}

.botonNumero{
    background-color: #8B48BF;
    color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.best h2{
    padding: 3rem 0;
    font-size: 39px;
    line-height: 3rem;
}
.card-text{
    background-color: #FAFAFA;
    text-align: center;
    position: relative;
    bottom: 35px;
    padding: 3rem 1rem;
}
.card-text p {
    color: #B9B9C1;
}
.card-text h3{
    margin:1rem 0;
}
.player{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#sanyo{
    background-image: url("../img/sanyo.png");
}
#lebron{
    background-image: url("../img/lebron.png");
}
#navarro{
    background-image: url("../img/navarro.png");
}
.botonMorado{
    background-color: #8B48BF;
    color: white;
    border-radius: 50px;
    padding: 10px 2rem;
    border: none;
    cursor: pointer;
}

footer{
    background: #1E1E26;
    padding: 2rem;
    text-align: center;
    color: white;
    
}

footer .all{
    flex-direction: column-reverse;
}

.formulario input{
    padding: 0.5rem;
    border-radius: 50px;
    border: none;
    margin:1rem 0
}

footer .icon-logo{
    flex-direction: column-reverse;
    margin:1rem 0
}

footer .logo{
    font-size: xx-large;
    vertical-align: middle;
}

.icons {
    justify-content: space-evenly;
    margin: 1rem 0;
}

footer .listas{
    padding: 1rem;
    justify-content: space-between;
    color: white;
    font-weight: lighter;
    text-align: left;
}

footer li{
    line-height: 1.5rem;
}
footer .copy{
    margin-top:1rem;
    font-size: small;
}

@media (min-width: 500px) {
    .disabled{
        display: block;
    }
    .width-45{
        width:45%;
    }
    

    .icono{
        display: none;
    }
    header{
        justify-content: space-between;
        padding: 4rem 8rem;
    }
    header, .nav-menu{
        display: flex;        
    }
    .nav-menu{
       gap: 1rem; 
    }
    .container-life{
        justify-content: space-between;
        padding: 4rem 8rem;
        align-items: center;
    }

    .container-different, .container-bestPlayer{
        background: #8B48BF;
        justify-content: space-between;
        padding: 4rem 8rem;
        align-items: center;
    }
    .container-differentDetails{
        background: #FAFAFA;
        justify-content:center;
        gap: 4rem;
    }
    .fondo-purpe{
        background-color: transparent;
    }
    .item-player p{
        padding: 0 4rem;
    }
    .container-bestPlayer h2{
        text-align: start;
        padding: 2rem;
    }
    .best{
        padding: 2rem 3rem 8rem;
    }
    .btnGo{
        background-color: white;
        color: #8B48BF;        
    }
    footer {
        padding-left: 7rem;
        padding-right: 7rem;
    }
    footer .all{
        flex-direction: row;
        justify-content: space-between;
    }
    footer .copy{
        text-align: right;
    }

    footer .icon-logo{
        flex-direction: column;
        justify-content: space-between;
        
    }
    .icons, .logo{
        margin: 0;
    }
    footer .listas{
        flex-grow: 1;
        justify-content: space-evenly;
    }
}
