/*1700-1580*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam';
}
body{
    display: block;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px; 
    justify-content: space-evenly;
    align-items: center;
}

ul , .logo{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}
li{    
    margin: 10px;
}
a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}

.container-life{
    display: flex;
    justify-content: center;
    padding: 70px;
    flex-wrap: wrap;
}
.caja-imgPlayer{
    width: 38vh;
    height: 40vh;
}
.caja-imgPlayer img{
    width: 100%;
}
.caja-playerTitle{
    padding: 20px 0 20px 50px;
    width: 38vh;
    height: 33vh;
    text-align: right;
}
.caja-playerTitle .title{
    font-size: 4vh;
}

.btnContact{
    background-color: #8B48BF;
    color: white;
    border-radius: 1em;     
    border: none;
    margin: 10px;
    width: 100px;
    padding: 10px;
    position: relative;
    bottom: center;
}
.container-different{
    background-color: #8B48BF;
    color: white;
    display: flex;
    justify-content: space-evenly;        
    padding-top: 20px;
    padding-bottom: 10px;
}
.container-different .caja-title{
    padding: 15px 50px 20px 140px;    
    font-size: 20px;
}
.container-different .caja-details{
    padding: 15px 150px 20px 50px;
    font-weight: none;
    font-size: 12px;
    width: 50%;
    text-align: left;
}
.container-differentDetails{
    background-color: white;
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
}

.container-differentDetails{
    width: 100px;
    background-color: bisque;
}


.container-bestPlayer{
    background-color: #8B48BF;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 10px;
}
.container-bestPlayer .caja-detailsBestPlayer{
    /*padding: 15px 250px 20px 100px;*/  
    font-size: 20px;
}
.container-bestPlayer .caja-btnGo{
    /*padding: 40px 150px 20px 50px;*/
    font-weight: none;
    font-size: 12px;
}


.btnGo{
    background-color: #FFFFFF;
    color: #8B48BF;;
    border-radius: 1em;     
    border: none;
    width: 100px;
    padding: 10px;
}
footer{
    background: black;
    height: 180px;
    display: flex;
    align-content: stretch;
}

@media (max-width:760px){
    
    .container-life {
        flex-direction: column;
        width: 140%;
        height: 800%;
        padding: 30px;
    }   

}

@media (max-width:500px){
    .container-life {
        flex-direction: column;
    }

}

@media (max-width:425px){

    .nav-menu{
        flex-direction: column;
        margin-right: 20px;
        background-color: #232C50;
        list-style: none;
        align-items: center;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
    }
    li{    
        margin: 10px;
    }



    .container-life {
        flex-direction: column;
    }


    .container-different {
        flex-direction: column;
    }
    .container-different .caja-title{
        width: 100%;
        padding: 30px 40px 30px 10px;
    }
    .container-different .caja-details{        
        font-size: 12px;
        width: 100%;
        padding: 30px 40px 30px 10px;
    }
    .container-differentDetails{
        flex-direction: column;
    }
    .item-player{
        width: 100%;
        height: 100%;
    }

    .container-bestPlayer {
        flex-direction: column;
        background-color: #3CDDF3;
        width: 100%;
        height: 100%;        
        display: flex;
        justify-content: center;
    }
    .caja-detailsBestPlayer {
        width: 100%;
        text-align: center;
    }
    .caja-btnGo{
        display: inline-block;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnGo {
        background-color: #232C50;
        color: white;
        
        
    }
    .items li{
        display:block;
        float:left;
        padding:0 10px;
    }


}